[mysqld]

max_connections = {{ mysql_max_connections }}
innodb_buffer_pool_size = {{ mysql_innodb_buffer_pool_size }}
max_allowed_packet = 64M
innodb_flush_method = O_DIRECT
gtid-mode = OFF
sql_mode = NO_ENGINE_SUBSTITUTION
binlog_format = MIXED
default_storage_engine = InnoDB
innodb_log_buffer_size = 8388608
innodb_log_file_size = 536870912
read_rnd_buffer_size = 524288
binlog_cache_size = 32768
thread_stack = 262144
thread_cache_size = 18
read_buffer_size = 262144
key_buffer_size = 16777216
table_open_cache_instances = 16
max_binlog_size = 134217728
local_infile = 1
relay_log_recovery = 1
sync_binlog = 1
innodb_file_per_table = 1
explicit_defaults_for_timestamp = 1
performance_schema = 0
log_statements_unsafe_for_binlog = 0

############################################################

slow_query_log = {{ mysql_slow_query_log }}
slow_query_log_file = /var/log/mysql/slow_queries.log
long_query_time = {{ mysql_long_query_time }}
log_queries_not_using_indexes = {{ mysql_log_queries_not_using_indexes }}
