server {
    listen 80;

    root /var/www/public-ip;
    index index.php;

    server_name {{ inventory_hostname }};

    charset utf-8;

    access_log off;
    error_log /var/log/nginx/sites/public-ip.error.log;

    add_header X-Frame-Options SAMEORIGIN;

    include /etc/nginx/locations/php-no-cache.conf;
    include /etc/nginx/locations/native-php.conf;
    include /etc/nginx/locations/default.conf;
}


